.sec-heading {
  background-color: var(--pri);
  color: white;
  padding: 2rem;
  h2 {
    text-shadow: 1px 1px 2px white;
  }
  p {
    color: white;
  }
}

// mission-sec

.mission-sec {
  i {
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.779);
  }
}

// team-sec
sudo apt-get install htop
.team-card {
  h4 {
    margin: 1rem 0;
  }
}
